@property --gradient-start {
  syntax: '<color>';
  inherits: false;
  initial-value: oklch(67.65% 0.043 285.21);
}

@property --gradient-stop {
  syntax: '<color>';
  inherits: false;
  initial-value: oklch(67.65% 0.043 285.21);
}

@utility gradient-icon {
  background: linear-gradient(
    180deg,
    var(--gradient-start) 0%,
    var(--gradient-stop) 100%
  );
  transition:
    --gradient-start 300ms,
    --gradient-stop 300ms;

  &:hover {
    --gradient-start: oklch(77.32% 0.129 294.81);
    --gradient-stop: oklch(67.59% 0.18851878808119876 292.4954219580293);
  }
}
