---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Contact">
  <div class="relative z-10 px-8 lg:px-18">
    <h1
      class="text-light-text-heading mb-4 text-2xl font-bold lg:mb-6 lg:text-5xl dark:text-white"
    >
      Get in touch
    </h1>

    <p class="mb-8">
      Have a question for us or a topic you would like us to cover on the show?
      Reach out here and we'll be in touch soon!
    </p>

    <iframe
      data-tally-src="https://tally.so/embed/2ENEQA?alignLeft=1&hideTitle=1&transparentBackground=1&dynamicHeight=1&darkModePreference=auto"
      loading="lazy"
      width="100%"
      height="276"
      frameborder="0"
      marginheight="0"
      marginwidth="0"
      title="Contact Get Spoiled"
    ></iframe>

    <script is:inline>
      var d=document,w="https://tally.so/widgets/embed.js",v=function(){"undefined"!=typeof Tally?Tally.loadEmbeds():d.querySelectorAll("iframe[data-tally-src]:not([src])").forEach((function(e){e.src=e.dataset.tallySrc}))};if("undefined"!=typeof Tally)v();else if(d.querySelector('script[src="'+w+'"]')==null){var s=d.createElement("script");s.src=w,s.onload=v,s.onerror=v,d.body.appendChild(s);}
    </script>
  </div>
</Layout>
